.mainDiv{
  position: relative;
}

.linkedIN{
    width: 200px;
    height: 200px;
    background-image: url(../photos/linkedInIcon.png);
    position: relative;
    align-self: center;
    left: 20%;
    background-size: cover;
  }
  
  .Instagram{
    width: 200px;
    height: 200px;
    background-image: url(../photos/icons8-instagram-200[1].png);
    position: relative;
    align-self: center;
    left: 20%;
    background-size: cover;
  }
  
  .Github{
    width: 200px;
    height: 200px;
    background-image: url(../photos/icons8-github-192[1].png);
    position: relative;
    align-self: center;
    left: 20%;
    background-size: cover;
  }
  
  .Email{
    width: 200px;
    height: 200px;
    background-image: url(../photos/icons8-contact-200[1].png);
    position: relative;
    align-self: center;
    left: 20%;
    background-size: cover;
  }

  .linkedIN:hover, .Email:hover, .Github:hover, .Instagram:hover{
    width: 250px;
    height: 250px;
  }