@import './fonts.css';

body {
  width: 100vw;
  height: 100vh;
  background-color: #fad99c;
  display: flex;
}

.nav{
  align-self: flex-start;
  background-color: #fad99c;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  position: fixed;
}

#navLinks{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

li{
  text-decoration: none;
  position: relative;
  width: 100px;
  font-size: 15px;
  color: blanchedalmond;
}

li:hover{
  font-size: 20px;
}


a {
  text-decoration: none; 
  color: #8a8a8a; 
}


