body {
  background-color: rgb(26, 181, 181);
}

.cv-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 5px 0;
}

.cv-section {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li::before {
  content: "• ";
}

main {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
