@import './fonts.css';

body {
  background-color: rgb(26, 181, 181);
}

.nav{
  width: 1000px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin-top: 30px;
}

li{
  display: flex;
  background-color: #264a51;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
}

a {
  text-decoration: none; /* Ta bort standard understrykning */
  color: #8a8a8a; /* Ange en önskad färg för länkarna */
}

/* Ändra stilen för länken när musen hovrar över den */
a:hover {
  border-bottom: 2px solid #00d5ff; /* Ändra tjockleken på understrykningen vid hovring */
  transition: border-bottom 0.2s ease-in-out; /* Lägg till övergångseffekt */
  color: #00d5ff;
}
